<div class="announcement-bar">
  <div class="announcement-bar__inner">
    <span aria-hidden="true"></span>
    <p>{{ section.settings.banner_text }}</p>
    <span aria-hidden="true"></span>
  </div>
</div>

{% schema %}
{
  "name": "Announcement Banner",
  "settings": [
    {
      "type": "text",
      "id": "banner_text",
      "label": "Banner Text",
      "default": "Free shipping over $50 purchase"
    }
  ]
}
{% endschema %}
